name: Build and Push Docker Images to ACR

on:
  workflow_dispatch:
    inputs:
      target_env:
        description: 'Target environment to push images to (dev|qa|staging|prod)'
        required: true
        type: choice
        options: [dev, qa, staging, prod]
        default: dev
      image_tag:
        description: 'Image tag to push (sha or latest)'
        required: false
        default: latest
  push:
    branches:
      - main

env:
  BACKEND_IMAGE_NAME: backend-app-susmitha
  FRONTEND_IMAGE_NAME: frontend-app-susmitha

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: ACR Login
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets['ACR_LOGIN_SERVER_' + (github.event.inputs.target_env || 'dev')] }}
          username: ${{ secrets['ACR_USERNAME_' + (github.event.inputs.target_env || 'dev')] }}
          password: ${{ secrets['ACR_PASSWORD_' + (github.event.inputs.target_env || 'dev')] }}

      - name: Build and Push Backend Image
        run: |
          IMAGE_VERSION="${{ github.event.inputs.image_tag || github.sha }}"
          docker build -t ${{ env.BACKEND_IMAGE_NAME }} ./backend
          docker tag ${{ env.BACKEND_IMAGE_NAME }} ${{ secrets['ACR_LOGIN_SERVER_' + (github.event.inputs.target_env || 'dev')] }}/${{ env.BACKEND_IMAGE_NAME }}:$IMAGE_VERSION
          docker push ${{ secrets['ACR_LOGIN_SERVER_' + (github.event.inputs.target_env || 'dev')] }}/${{ env.BACKEND_IMAGE_NAME }}:$IMAGE_VERSION
          docker tag ${{ env.BACKEND_IMAGE_NAME }} ${{ secrets['ACR_LOGIN_SERVER_' + (github.event.inputs.target_env || 'dev')] }}/${{ env.BACKEND_IMAGE_NAME }}:latest
          docker push ${{ secrets['ACR_LOGIN_SERVER_' + (github.event.inputs.target_env || 'dev')] }}/${{ env.BACKEND_IMAGE_NAME }}:latest

      - name: Build and Push Frontend Image
        run: |
          IMAGE_VERSION="${{ github.event.inputs.image_tag || github.sha }}"
          docker build -t ${{ env.FRONTEND_IMAGE_NAME }} ./frontend
          docker tag ${{ env.FRONTEND_IMAGE_NAME }} ${{ secrets['ACR_LOGIN_SERVER_' + (github.event.inputs.target_env || 'dev')] }}/${{ env.FRONTEND_IMAGE_NAME }}:$IMAGE_VERSION
          docker push ${{ secrets['ACR_LOGIN_SERVER_' + (github.event.inputs.target_env || 'dev')] }}/${{ env.FRONTEND_IMAGE_NAME }}:$IMAGE_VERSION
          docker tag ${{ env.FRONTEND_IMAGE_NAME }} ${{ secrets['ACR_LOGIN_SERVER_' + (github.event.inputs.target_env || 'dev')] }}/${{ env.FRONTEND_IMAGE_NAME }}:latest
          docker push ${{ secrets['ACR_LOGIN_SERVER_' + (github.event.inputs.target_env || 'dev')] }}/${{ env.FRONTEND_IMAGE_NAME }}:latest
